.record-button {
  height: 8em;
  width: 8em;
  border-color: #f3f3f3 !important;
}

.record-button:hover,
.play-button:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.play-button {
  height: 8em;
  width: 8em;
  background-color: transparent;
  border-radius: 100%;
  margin-left: 30%;
}
.metaDataStyle {
  text-align: center;
}
.stories {
  color: #ff9d00d7;
  font-weight: bold;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#myBtn {
  margin-top: 30px;
  margin-left:46%;
}
.slider {
  height: 400px;
  overflow: hidden;
  position: relative;
}

.slider .slider-item {
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
  transition: transform 400ms;
}

.slider .slider-item.active,
.slider .slider-item.prev-item,
.slider .slider-item.next-item {
  display: block;
}

.slider-item.prev-item,
.slider-item.active.slide-next {
  transform: translateX(-50%);
}

.slider-item.active.slide-prev,
.slider-item.next-item {
  transform: translateX(50%);
}

.slider-item.prev-item.slide-end,
.slider-item.next-item.slide-end {
  transform: translateX(0);
}

.slide-indicators {
  position: absolute;
  z-index: 20;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  padding: 0;
  display: flex;
}
.next {
  transform: translateX(20%);
  transform: translatey(100%);
}
.slider-control-prev,
.slider-control-next {
  position: absolute;
  z-index: 20;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.3;
  transition: opacity 300ms;
}

.slider-control-prev {
  left: 20px;
}

.slider-control-prev:hover {
  opacity: 1;
}

.slider-control-next {
  right: 20px;
}

/* .metaDataStyle {
  
} */

.search-container {
  max-width: 600px;
  margin-bottom: 20px;
}

.search-container input[type="text"] {
  display: block;
  width: calc(100% - 24px);
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  border: 1px solid #000000;
}

#searchSubmit {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-top: 10px;
}

