
body{
    background-color: #3c3d3d;
    color: white;
    
}

#redruth{
    color: #ff9f00;
    border:0px solid  #3c3d3d; 
    background-color: transparent;
    font-weight: bold;
}
.metaDataStyle{
    color: #ff9f00;
    margin-left: 50px;
}
.playStory {
    margin-left: 45px;
}
.container{
    max-width: 400px;
}
.slider{
    max-width: 400px;
    margin: auto;
    margin-top: 30px;
}
form div{
    padding: 12px;
}

#form{
    padding-top: 10%;
}

#prompt{
    color:  #39b7dd;
}
.prompt {
    text-align: center;
    margin-bottom: 20px;
}
.project {
    text-align: center;
}
#recordbutton{
    padding-top: 10%;
}

#recordbutton2{
    padding-top: 10%;
}

#myModal{
    background-color: #4a4d4d;
    border: 3px solid #fff;
    border-radius: 10px;
    height: 60vh;
    width: 80vw;
    margin: 15% 15% 10% 10%;
}
.modal-content {
    background-color: #4a4d4d;
    padding: 20px;
    height: 100%;
    width: 100%; /* Could be more or less, depending on screen size */
  }
#recordbutton button{
    background-color: #ff4a2e;
    border-radius: 100%;
    height: 200px;
    width: 200px;
}

#recordbutton img{
    height: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: .0;
}

#recordbutton2 button{
    background-color: white;
    border-radius: 100%;
    height: 200px;
    width: 200px;
}

#recordbutton2 img{
    height: 80%;
    width: 80%;
    margin-left: 0;
    margin-right: .0;
}

/* #recordButton img{
    height: 110%;
    width: 110%;
    background-color: red;
    overflow: hidden;
} */

#recordyourresponse{
    padding-top: 15px;
    font-size: 140%;
}

#myCheck {
    margin-left: 5px;
    display: inline-block;
}

.submitbtn{
    background: #39b7dd;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    
}

textarea{
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border: 2px solid #c5ecfd;
    padding: 10px;
    color: #c5ecfd;
    width: 100%;
  }

#commentslabel{
    float: left;
    font-size: 130%;
}
#keyDisplay {
    float: left;
    font-size: 130%;
}
#key {
    float: center;
    font-size: 110%;
}
#clue {
    float: center;
    font-size: 100%;
}
#title{
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border: 2px solid #c5ecfd;
    padding: 10px;
    color: #c5ecfd;
    width: 100%;
}

#titlelabel{
    float: left;
    font-size: 130%;
}
.contLabel{
    float: left;
    font-size: 130%;
}
.addContent{
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border: 2px solid #c5ecfd;
    padding: 10px;
    color: #c5ecfd;
    width: 100%;
}

#socialbuttons button{
    background-color: #39b7dd;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#saveButton{
    background-color: #39b7dd;
    color: white;
    font-size: 1.3rem;
    width: 65%;
}
#discardButton{
    color: white;
    text-decoration: underline;
    font-size: .9rem;
}
#thanks{
    color: #ff9f00;
    padding-bottom: 10%;
}

#participatemore{
    padding-bottom: 3%;
}

#others{
    padding-top: 10%;
    padding-bottom: 3%;
}

#connected{
    padding-bottom: 3%;
    padding-top: 10%;
}

#divformargin{
    margin: 3%;
}

#redruth{
    padding-bottom: 5%;
}

#addinfo{
    text-align: center;
    display: inline-block;
}

#aboutpara{
    color: #ff9f00;
    margin: 3%;
    text-align: center;
}
#aboutpara a{
    color: white;
}
.slider {
    height: 400px;
    overflow: hidden;
    position: relative;
  }
  
  .slider .slider-item {
    height: 100%;
    width: 100%;
    display: none;
    position: absolute;
    transition: transform 400ms;
  }
  
  .slider .slider-item.active,
  .slider .slider-item.prev-item,
  .slider .slider-item.next-item {
    display: block;
  }
  
  .slider-item.prev-item,
  .slider-item.active.slide-next {
    transform: translateX(-100%);
  }
  
  .slider-item.active.slide-prev,
  .slider-item.next-item {
    transform: translateX(100%);
  }
  
  .slider-item.prev-item.slide-end,
  .slider-item.next-item.slide-end {
    transform: translateX(0);
  }
  
  .slide-indicators {
    /* position: absolute; */
    z-index: 20;
    bottom: 0;
    left: 50%;
    /* transform: translateX(-50%); */
    list-style: none;
    padding: 0;
    display: flex;
  }
  .next {
    transform: translateX(20%);
  }
  .slider-control-prev,
  .slider-control-next {
    position: absolute;
    z-index: 20;
    cursor: pointer;
    top: 50%;
    transform: translateY(150%);
    opacity: 0.3;
    transition: opacity 300ms;
    background-color: #ff9f00;
    border-radius: 20px;
  }
  
  .slider-control-prev {
    left: 20px;
  }
  
  .slider-control-prev:hover,
  .slider-control-next:hover{
    opacity: 1;
  }
  
  .slider-control-next {
    right: 20px;
  }


