.record-button {
  height: 8em;
  width: 8em;
  border-color: #f3f3f3 !important;
}

.record-button:hover,
.play-button:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.play-button {
  height: 8em;
  width: 8em;
  background-color: #5084d2;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#myBtn {
  margin-top: 30px;
  margin-left:46%;
}
.slider {
  height: 400px;
  overflow: hidden;
  position: relative;
}

.slider .slider-item {
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
  transition: transform 400ms;
}

.slider .slider-item.active,
.slider .slider-item.prev-item,
.slider .slider-item.next-item {
  display: block;
}

.slider-item.prev-item,
.slider-item.active.slide-next {
  transform: translateX(-50%);
}

.slider-item.active.slide-prev,
.slider-item.next-item {
  transform: translateX(50%);
}

.slider-item.prev-item.slide-end,
.slider-item.next-item.slide-end {
  transform: translateX(0);
}

.slide-indicators {
  position: absolute;
  z-index: 20;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  padding: 0;
  display: flex;
}

.slider-control-prev,
.slider-control-next {
  position: absolute;
  z-index: 20;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.3;
  transition: opacity 300ms;
}

.slider-control-prev {
  left: 20px;
}

.slider-control-prev:hover {
  opacity: 1;
}

.slider-control-next {
  right: 20px;
}

/* .metaDataStyle {
  
} */

