.record-button {
  height: 8em;
  width: 8em;
  border-color: #f3f3f3 !important;
}

.record-button:hover,
.play-button:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.play-button {
  height: 8em;
  width: 8em;
  background-color: transparent;
  border-radius: 100%;
  margin-left: 30%;
}
.metaDataStyle {
  text-align: center;
}
.stories {
  color: #ff9d00d7;
  font-weight: bold;
}
/*.modal {
  display: none; /* Hidden by default 
  position: fixed; /* Stay in place 
  z-index: 1; /* Sit on top 
  left: 0;
  top: 0;
  width: 100%; /* Full width 
  height: 100%; /* Full height 
  overflow: auto; /* Enable scroll if needed 
  background-color: rgb(0,0,0); /* Fallback color 
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity 
}
/* Modal Content/Box 
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered 
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size 
}

/* The Close Button 
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}*/
#myBtn {
  margin-top: 30px;
  margin-left:46%;
}
.slider {
  height: 400px;
  overflow: hidden;
  position: relative;
}

.slider .slider-item {
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
  transition: transform 400ms;
}

.slider .slider-item.active,
.slider .slider-item.prev-item,
.slider .slider-item.next-item {
  display: block;
}

.slider-item.prev-item,
.slider-item.active.slide-next {
  transform: translateX(-50%);
}

.slider-item.active.slide-prev,
.slider-item.next-item {
  transform: translateX(50%);
}

.slider-item.prev-item.slide-end,
.slider-item.next-item.slide-end {
  transform: translateX(0);
}

.slide-indicators {
  position: absolute;
  z-index: 20;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  padding: 0;
  display: flex;
}
.next {
  transform: translateX(20%);
  transform: translatey(100%);
}
.slider-control-prev,
.slider-control-next {
  position: absolute;
  z-index: 20;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.3;
  transition: opacity 300ms;
}

.slider-control-prev {
  left: 20px;
}

.slider-control-prev:hover {
  opacity: 1;
}

.slider-control-next {
  right: 20px;
}

/* .metaDataStyle {
  
} */

#selectPrompt {
  font-size: 16px;
}

.search-container form {
  display: flex;
  flex-direction: row;
  justify-content:center;
  width: 100%;
}

#metadataFilter {
  font-size: 16px;
}

.search-container .label-display {
  width: 100%;
}

.search-container .label-display #filterBtn {
  font-size: 16px;
  text-align: right;
  padding: 5px;
}

.search-container input[type="text"] {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  padding: 8px;
  border: 1px solid #000000;
  margin-bottom: 20px;
}

.label-display {
  display: block;
}

.banner {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  color: #fff;
  background-color: #2F4050;
  height: 60px;
}

.banner h1 {
  padding: 10px;
  font-family: 'Inter';
  font-style: italic;
  display: flex;
  text-transform: uppercase;
  font-weight: 665;
  font-size: 24px;
  line-height: 29px;
}

.bannner a {
  text-decoration: none;
  color: #fff;
}

#sidebar {
  position: absolute;
  background-color: #2F4050;
  height: 100%;
  width: 80px;
}

#sidebar li:hover {
  background-color: #fff;
}

#sidebar li:hover button {
  background-color: #fff;
  color: #2F4050;
}

#sidebar button {
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #2F4050;
  color: #fff;
  border: none;
  font-size: large;
}

#currentCollection {
  text-align: center;
}

#inbox {
  margin-left: 10%;
  height: 100%;
}

#edit {
  margin-left: 10%;
  height: 100%;
}

.left {
  width: 50%;
  float: left;
}

.right {
  width: 50%;
  height: 700px;
  float: right;
  background-color: #f3f3f3;
  padding: 10px;
}

#recordings-list {
  list-style: none;
  padding-left: 0;
  width: 100%;
  overflow: scroll;
  max-height: 300px;
}

h3 {
  font-size: medium;
  font-weight: bold;
}

#fileCount {
  text-align: center;
}

#thColor {
  color: #888;
}

.w-85 {
  width: 85% !important;
}

.tableScroll {
  height: 250px;
  overflow: scroll;
}

#table {
  /* position: sticky; */
  top: 0;
  width: 100%;
}
