@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body {
    overflow-x: hidden;
}

:root {
    --blue: rgba(21, 0, 191, 1);
    --blue-med: rgb(10, 10, 41);
    --blue-dark: rgba(0, 0, 2, 0.19);
    --blue-text-light: #D9E1FF;
    --blue-text-dark: #8EA4F4;
}

.backgroundBlue {
    background: -moz-linear-gradient(50% -2.19% -90deg, var(--blue) 0%, rgba(18, 0, 168, 1) 2.71%, rgba(14, 0, 132, 1) 7.77%, rgba(10, 0, 100, 1) 13.48%, rgba(7, 0, 72, 1) 19.79%, rgba(4, 0, 50, 1) 26.91%, rgba(2, 0, 33, 1) 35.23%, rgba(1, 0, 22, 1) 45.52%, rgba(0, 0, 15, 1) 59.95%, rgba(0, 0, 13, 1) 100%);
    background: -webkit-linear-gradient(-90deg, var(--blue) 0%, rgba(18, 0, 168, 1) 2.71%, rgba(14, 0, 132, 1) 7.77%, rgba(10, 0, 100, 1) 13.48%, rgba(7, 0, 72, 1) 19.79%, rgba(4, 0, 50, 1) 26.91%, rgba(2, 0, 33, 1) 35.23%, rgba(1, 0, 22, 1) 45.52%, rgba(0, 0, 15, 1) 59.95%, rgba(0, 0, 13, 1) 100%);
    /* background : -webkit-gradient(linear,50% -2.19% ,50% 101.04% ,color-stop(0,var(--blue) ),color-stop(0.0271,rgba(18, 0, 168, 1) ),color-stop(0.0777,rgba(14, 0, 132, 1) ),color-stop(0.1348,rgba(10, 0, 100, 1) ),color-stop(0.1979,rgba(7, 0, 72, 1) ),color-stop(0.2691,rgba(4, 0, 50, 1) ),color-stop(0.3523,rgba(2, 0, 33, 1) ),color-stop(0.4552,rgba(1, 0, 22, 1) ),color-stop(0.5995,rgba(0, 0, 15, 1) ),color-stop(1,rgba(0, 0, 13, 1) )); */
    background: -o-linear-gradient(-90deg, var(--blue) 0%, rgba(18, 0, 168, 1) 2.71%, rgba(14, 0, 132, 1) 7.77%, rgba(10, 0, 100, 1) 13.48%, rgba(7, 0, 72, 1) 19.79%, rgba(4, 0, 50, 1) 26.91%, rgba(2, 0, 33, 1) 35.23%, rgba(1, 0, 22, 1) 45.52%, rgba(0, 0, 15, 1) 59.95%, rgba(0, 0, 13, 1) 100%);
    background: -ms-linear-gradient(-90deg, var(--blue) 0%, rgba(18, 0, 168, 1) 2.71%, rgba(14, 0, 132, 1) 7.77%, rgba(10, 0, 100, 1) 13.48%, rgba(7, 0, 72, 1) 19.79%, rgba(4, 0, 50, 1) 26.91%, rgba(2, 0, 33, 1) 35.23%, rgba(1, 0, 22, 1) 45.52%, rgba(0, 0, 15, 1) 59.95%, rgba(0, 0, 13, 1) 100%);
    /* -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1500BF', endColorstr='#00000D' ,GradientType=0)"; */
    background: linear-gradient(180deg, var(--blue) 0%, rgba(18, 0, 168, 1) 2.71%, rgba(14, 0, 132, 1) 7.77%, rgba(10, 0, 100, 1) 13.48%, rgba(7, 0, 72, 1) 19.79%, rgba(4, 0, 50, 1) 26.91%, rgba(2, 0, 33, 1) 35.23%, rgba(1, 0, 22, 1) 45.52%, rgba(0, 0, 15, 1) 59.95%, rgba(0, 0, 13, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1500BF', endColorstr='#00000D', GradientType=0);

    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -101;
}

.backgroundRadial {
    background: -moz-radial-gradient(50% 50%, circle farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 2, 0.19) 33.8%, rgba(0, 0, 4, 0.23) 36.92%, rgba(0, 0, 11, 0.43) 53.61%, rgba(0, 0, 13, 1) 100%);
    background: -webkit-radial-gradient(50% 50%, circle farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 2, 0.19) 33.8%, rgba(0, 0, 4, 0.23) 36.92%, rgba(0, 0, 11, 0.43) 53.61%, rgba(0, 0, 13, 1) 100%);
    /* background : -webkit-gradient(radial,50% 50% ,0 , 50% 50%, 2860.04 ,color-stop(0,rgba(0, 0, 0, 0) ),color-stop(0.338,rgba(0, 0, 2, 0.19) ),color-stop(0.3692,rgba(0, 0, 4, 0.23) ),color-stop(0.5361,rgba(0, 0, 11, 0.43) ),color-stop(1,rgba(0, 0, 13, 1) )); */
    background: -o-radial-gradient(50% 50%, circle farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 2, 0.19) 33.8%, rgba(0, 0, 4, 0.23) 36.92%, rgba(0, 0, 11, 0.43) 53.61%, rgba(0, 0, 13, 1) 100%);
    background: -ms-radial-gradient(50% 50%, circle farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 2, 0.19) 33.8%, rgba(0, 0, 4, 0.23) 36.92%, rgba(0, 0, 11, 0.43) 53.61%, rgba(0, 0, 13, 1) 100%);
    /* -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Stlye=2);" */
    background: radial-gradient(50% 50%, circle farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 2, 0.19) 33.8%, rgba(0, 0, 4, 0.23) 36.92%, rgba(0, 0, 11, 0.43) 53.61%, rgba(0, 0, 13, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.Alpha(Stlye=2);

    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    opacity: .6;
}


@media (min-width: 900px) {
    .backgroundRadial {
        opacity: 1;
    }
}

.main-content {
    height: 70vh;
}

nav a{
    color: var(--blue-text-dark);
    text-decoration: none;
    outline: none;
    /* padding: 40px; */
}

a:hover {
    color: var(--blue-text-light) !important;
}

#buttonText {
    color: var(--blue-text-dark);
}

#project {
    color: var(--blue-text-light);
    opacity: .8;
}

.showPrompt {
    color: var(--blue-text-light);

}

a:active {
    position: relative;
    outline: none;
    top: 3px;
}

footer span {
    color: var(--blue-text-dark);
    text-decoration: none;
    outline: none;
    font-size: small;
}

footer a{
    color: var(--blue-text-dark);
    text-decoration: none;
    outline: none;
    font-size: small;
}
.logo img {
    height: 25px;

}

.container {
    font-family: 'Libre Baskerville', serif;
}

h5,
h6,
h2 {
    z-index: 1;
    position: relative;
}

#loading{
    color: var(--blue-text-light) !important;
}

#recordButton {
    width: 100px;
    height: 100px;
    font-size: 10px;
    line-height: calc(100px - 5px);
    color: #8EA4F4;
    outline: none;
    border-radius: 100px;
    /* background: rgb(3, 0, 26);
    box-shadow:
        -10px -10px 30px rgb(12, 0, 90),
        10px 10px 30px rgb(2, 0, 14),
        inset -10px -10px 10px rgb(5, 0, 39),
        inset 10px 10px 10px rgb(12, 0, 107); */
    display: inline-block;
}

#stopButton {
    width: 100px;
    height: 100px;
    font-size: 10px;
    line-height: calc(100px - 5px);
    color: #8EA4F4;
    outline: none;
    border-radius: 100px;
    /* background: rgb(3, 0, 26);
    box-shadow:
        -10px -10px 30px rgb(12, 0, 90),
        10px 10px 30px rgb(2, 0, 14),
        inset -10px -10px 10px rgb(5, 0, 39),
        inset 10px 10px 10px rgb(12, 0, 107); */
        display: inline-block;
}



hr {
    border: 0;
    height: 1px !important;
    opacity: 1 !important;
    color: white;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.info {
    color: var(--blue-text-light);
}

.info label {
    width: 100%;
    text-align: left;
}

.info input,
.info textarea {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: 2px solid #8ea4f45d;
    width: 100%;
    border-radius: 4px;
    padding: 10px;
}


.info .main-content {
    height: 73vh;
}

@media screen {

    button,
    select,
    textarea,
    input {
      font-size: max(16px, 1em);
    } 
}

#submitted{
    color: var(--blue-text-light);
}

@media (min-width: 900px) {
    .smallwidth{
        width: 600px !important;
        margin: 0 auto;
    }
}

.round-button{
    color: #fff !important;
    background-color: var(--blue-med) !important;
    border-radius: 38px !important;
    padding: 10px 30px !important;
}

.round-button-small {
    color: var(--blue-text-light) !important;
    background-color: var(--blue-med) !important;
    border-radius: 38px !important;
    padding: 4px 20px !important;
}

.round-button:active {
    position: relative;
    outline: none;
    top: 3px;
}

.round-button-small:active {
    position: relative;
    outline: none;
    top: 3px;
}


.Rec{
    animation-name: pulse;
    animation-duration: 2.0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes pulse{
    0%{
      box-shadow: 0px 0px 5px 0px rgba(17, 0, 173, 0);
    }
    65%{
      box-shadow: 0px 0px 5px 15px rgba(17, 0, 173, 0.3);
    }
    90%{
      box-shadow: 0px 0px 5px 15px rgba(17, 0, 173, 0.0);
    }
  }


  #about{
    color: var(--blue-text-light);
  }