@import url('https://fonts.googleapis.com/css2?family=Mallanna&display=swap');

.container {
    font-family: 'Mallanna', sans-serif;
}

body {
    overflow-x: hidden;
    background: rgb(0,0,0);
    
}

:root {
    --blue: #172B3D;
    --blue-med: rgb(40, 43, 47);
    --blue-text-light: #dee5f3;
    --blue-text-dark: rgb(145, 159, 177);
}

.backgroundGradient {
    background: rgb(0,0,0);
    background : linear-gradient(180deg, rgba(23, 43, 61, 1) 0%, rgba(18, 31, 42, 1) 7.84%, rgba(13, 20, 25, 1) 18.2%, rgba(10, 12, 14, 1) 31.1%, rgba(9, 7, 7, 1) 49.19%);
    /* background: linear-gradient(180deg, var(--blue) 00%, rgba(0, 0, 23) 100%); */
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -101;
}


.backgroundGradientRed {
    background: rgb(0,0,0);
    background : linear-gradient(180deg, rgba(69, 26, 48, 1) 0%, rgba(67, 25, 46, 1) 0.71%, rgba(45, 18, 31, 1) 9.4%, rgba(28, 13, 19, 1) 19.58%, rgba(17, 9, 11, 1) 32.26%, rgba(10, 7, 6, 1) 50.05%);
    /* background: linear-gradient(180deg, var(--blue) 00%, rgba(0, 0, 23) 100%); */
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -101;
}


.backgroundRadial {
    background-image: url("/images/background.png");
    width: 101vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    opacity: .6;
    background-repeat: no-repeat;
    background-size: 100vw;
}


.redText{
    color: rgb(110, 42, 42) !important;
    transition: all 0.9s ease-out 0s;
}

@media (min-width: 900px) {
    .backgroundRadial {
        opacity: 1;
    }
}

.main-content {
    height: 70vh;
}

nav a{
    color: var(--blue-text-dark);
    text-decoration: none;
    outline: none;
    /* padding: 40px; */
}

a:hover {
    color: var(--blue-text-light) !important;
}

#buttonText {
    color: var(--blue-text-dark);
}

#project {
    color: var(--blue-text-light);
    opacity: .8;
}

.showPrompt {
    color: var(--blue-text-light);

}

a:active {
    position: relative;
    outline: none;
    top: 3px;
}

footer span {
    color: var(--blue-text-dark);
    text-decoration: none;
    outline: none;
    font-size: small;
}

footer a{
    color: var(--blue-text-dark);
    text-decoration: none;
    outline: none;
    font-size: small;
}
.logo img {
    height: 25px;

}

h5,
h6,
h2 {
    z-index: 1;
    position: relative;
}

#loading{
    color: var(--blue-text-light) !important;
}

#recordButton {
    width: 120px;
    height: 120px;
    font-size: 10px;
    line-height: calc(120px - 5px);
    color: var(--blue-text-light);
    outline: none;
    border-radius: 120px;
    background-color: rgb(30, 38, 49);
    display: inline-block;
    box-shadow:  0px 0px 39px 14px rgb(23, 25, 28);
    -webkit-box-shadow:  0px 0px 39px 14px rgb(23, 25, 28);
}

#stopButton {
    width: 120px;
    height: 120px;
    font-size: 10px;
    line-height: calc(120px - 5px);
    color: var(--blue-text-light);
    outline: none;
    border-radius: 120px;
    background-color: rgb(49, 30, 38);
    display: inline-block;
}

.Rec{
    animation-name: pulse;
    animation-duration: 2.0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes pulse{
    0%{
      box-shadow: 0px 0px 39px 0px rgba(61, 23, 34, 0);
    }
    65%{
      box-shadow: 0px 0px 39px 15px rgb(61, 23, 34);
    }
    90%{
      box-shadow: 0px 0px 39px 15px rgba(61, 23, 34, 0);
    }
  }


hr {
    border: 0;
    height: 1px !important;
    opacity: 1 !important;
    color: var(--blue-text-light);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.info {
    color: var(--blue-text-light);
}

.info label {
    width: 100%;
    text-align: left;
}

.info input,
.info textarea {
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--blue-text-light);
    border: 2px solid #8ea4f45d;
    width: 100%;
    border-radius: 4px;
    padding: 10px;
}


.info .main-content {
    height: 73vh;
}

@media screen {

    button,
    select,
    textarea,
    input {
      font-size: max(16px, 1em);
    } 
}

#submitted{
    color: var(--blue-text-light);
}

@media (min-width: 900px) {
    .smallwidth{
        width: 600px !important;
        margin: 0 auto;
    }
}

.round-button{
    color: var(--blue-text-light) !important;
    background-color: var(--blue-med) !important;
    border-radius: 38px !important;
    padding: 10px 30px !important;
}

.round-button-small {
    color: var(--blue-text-light) !important;
    background-color: var(--blue-med) !important;
    border-radius: 38px !important;
    padding: 4px 20px !important;
}

.round-button:active {
    position: relative;
    outline: none;
    top: 3px;
}

.round-button-small:active {
    position: relative;
    outline: none;
    top: 3px;
}

#about{
color: var(--blue-text-light);
}